body {
	background-color: #262626;
}

a.underlined, .cov-footer a {
	text-decoration: underline;
}

.text-success {
	color: #4c9331 !important;
}

.cov-navbar {
    background: -moz-linear-gradient(top,  hsla(0,0%,0%,0.65) 0%, hsla(0,0%,0%,0) 100%);
    background: -webkit-linear-gradient(top,  hsla(0,0%,0%,0.65) 0%,hsla(0,0%,0%,0) 100%);
    background: linear-gradient(to bottom,  hsla(0,0%,0%,0.65) 0%,hsla(0,0%,0%,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	/* border-bottom: 1px solid #555d64;*/
}

.distribution-map {
	margin: 10px auto;
	text-align: center;
}

.distribution-map svg{
	max-height: 400px;
}

.trend-number {
	font-size: 2.5em;
	color: #333;
}

.trend-number span {
	color: #777;
	font-size: 0.8em;
}

#loading-govmap svg {
	width: 100% !important;
	height: auto !important;
	cursor: default !important;
	max-height: 445px;
}

/*#abruzzo, #basilicata, #calabria, #campania, #emilia-romagna, #friuli, 
#lazio, #liguria, #lombardia, #marche, #molise, #piemonte, 
#puglia, #sardegna, #sicilia, #trentino, #toscana, 
#valle, #umbria, #veneto {
	fill: white;
}*/