/*
	Covitaly
	v1.3.2
*/


body {
	background-color: #262626;
}

a.underlined, .cov-footer a {
	text-decoration: underline;
}

.text-success {
	color: #4c9331 !important;
}

.cov-navbar {
	border-bottom: 2px solid #5b6d72;
    border-color: rgb(70 70 70 / 90%);
    background-color: #191818;
	/* background-color: rgb(47,72,79);
	background-color: rgba(47,72,79,0.94); */
}

.distribution-map {
	margin: 10px auto;
	text-align: center;
}

.distribution-map svg{
	max-height: 400px;
}

.trend-number {
	font-size: 2.5em;
	color: #333;
}

.trend-number span {
	color: #777;
	font-size: 0.8em;
}

#loading-govmap svg {
	width: 100% !important;
	height: auto !important;
	cursor: default !important;
	max-height: 470px;
}

.cov-list a:nth-child(2n+1) {
    background-color: #E2ECEF;
}

.cov-list a:hover:nth-child(2n+1) {
    background-color: #DDE6E8;
}

.cov-list a.cov-list-vax {
	background-color: #E7C0D1;
	color: #922151;
}

.cov-list a.cov-list-vax:hover {
	background-color: #DFBACA;
}

a {
	color: #38707f;
}

a:hover {
	color: #39464a;
}

.badge-dark {
	background-color: #7c939a;
}

.cov-vax {
	border-radius: 4px;
	max-height: 100px;
}

.cov-vax-icon {
	width: 16px;
	height: 16px;
	vertical-align: text-top;
}


/*#abruzzo, #basilicata, #calabria, #campania, #emilia-romagna, #friuli, 
#lazio, #liguria, #lombardia, #marche, #molise, #piemonte, 
#puglia, #sardegna, #sicilia, #trentino, #toscana, 
#valle, #umbria, #veneto {
	fill: white;
}*/

