body {
	background-color: #262626;
}

a.underlined, .cov-footer a {
	text-decoration: underline;
}

.text-success {
	color: #4c9331 !important;
}

.cov-navbar {
	border-bottom: 1px solid #555d64;
}

.distribution-map {
	margin: 10px auto;
	text-align: center;
}

.distribution-map svg{
	max-height: 400px;
}

.trend-number {
	font-size: 2.5em;
	color: #333;
}

.trend-number span {
	color: #777;
	font-size: 0.8em;
}

#loading-govmap svg {
	width: 100% !important;
	height: auto !important;
	cursor: default !important;
	max-height: 445px;
}

.cella_rossa {
    color: #fff;
    min-width: 110px;
    float: left;
    cursor: pointer;
    background-color: #e2001a;
    border: 1px solid #ffffff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.cella_arancione {
    color: #fff;
    min-width: 110px;
    float: left;
    cursor: pointer;
    background-color: #ee7f01;
    border: 1px solid #ffffff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/*#abruzzo, #basilicata, #calabria, #campania, #emilia-romagna, #friuli, 
#lazio, #liguria, #lombardia, #marche, #molise, #piemonte, 
#puglia, #sardegna, #sicilia, #trentino, #toscana, 
#valle, #umbria, #veneto {
	fill: white;
}*/