# Apache HTACCESS config file
# Workflow-tracker
# ------------------------------------
#   --- Edit this file if needed ---
# ------------------------------------

RewriteEngine On
RewriteRule ^([a-zA-Z0-9-_]+)$ index.php?name=$1 [QSA,L]

# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
# SetEnv TZ Europe/Rome
# php_value date.timezone Europe/Rome